site_name: InSARScript
repo_url: https://github.com/jldz9/InSARScript
repo_name: jldz9/InSARScript
site_url: https://jldz9.github.io/InSARScript/
theme:
  name: material
  font:
    text: "sans-serif"
    code: "Source Code Pro"
  custom_dir: docs/overrides
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky  
    - navigation.sections
    - navigation.expand
    - navigation.instant
    - toc.follow
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - announce.dismiss
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      toggle:
        icon: material/weather-night
        name: switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: grey
      toggle:
        icon: material/weather-sunny
        name: switch to light mode
  icon:
    repo: fontawesome/brands/github

nav: 
  - Home: index.md
  - QuickStart: 
        - Installation: quickstart/install.md
        - API Setup: quickstart/api_setup.md
        - Running: quickstart/running.md
        - Downloader: quickstart/downloader.md
        - Processor: quickstart/processor.md
        - Analyzer: quickstart/analyzer.md
        - Utilities: quickstart/utilities.md

  - About: about.md

extra:
  social:
    - icon: fontawesome/solid/envelope
      link: jiaweiliwork@outlook.com
      name: Email me
    - icon: fontawesome/brands/discord
      link: https://discord.gg/RJJM42MBUU
      name: Discord
  version:
    provider: mike

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.details:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - tables
  - md_in_html
  - pymdownx.blocks.caption
  
extra_css:
  - stylesheets/extra.css
plugins:
  - search
  - mkdocstrings:
       handlers:
          python:
            options:
              show_docstring_description: false
              show_docstring_parameters: true
              show_docstring_returns: false
              show_docstring_examples: false
              show_docstring_other_parameters: true
              show_docstring_attributes: true
              show_docstring_raises: true
              members: true
              docstring_style: google
              docstring_section_style: table
              show_bases: false
          

